/* Specific to this project */

/* Layout */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 100%;
}

.grid-structure {
    display: grid;
    grid-gap: 10px;
    padding: 70px 0rem 0rem 0rem;
    grid-template-columns: 225px auto auto;
    grid-template-areas:
        "header header header"
        "sidebar intro intro"
        "sidebar main main"
        "sidebar main main"
        "footer footer footer";
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #ff3d00;
    opacity: 1;
    z-index: 1000;
    grid-area: header;
}

aside {
    grid-area: sidebar;
    padding-left: 3rem;
    position: fixed;
    top: 100px;
    width: 230px;
}

aside h2 {
    /* display: inline-block; */
    line-height: 1;
}

aside h2 a:hover {
    color: #2962ff;
    text-decoration: underline;
}

aside a,
aside a:visited {
    color: #000000;
}

.id {
    margin-top: -70px;
    /* Size of fixed header */
    padding-bottom: 70px;
    display: block;
}

main {
    grid-area: main;
    width: auto;
    padding-right: 3rem;
    background-color: #f5f5f5;
    min-height: 850px;
}

.stoogecss {
    grid-area: intro;
    width: 100%;
    height: 200px;
    margin-bottom: -20px;
    /* background-color: #2979ff; */
    background-image: linear-gradient(to bottom right, #2979ff, #7949cc);
}


.main__section {
    position: relative;
    margin: 2rem 1rem 2rem 1rem;
    padding: 0.25rem 0.25rem 0rem 0.25rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .15);
}

.main__section .subtitle {
    text-align: center;
    font-size: 2.5rem;
    color: #2962ff;
    font-family: Arial, Helvetica, sans-serif;
}

.main__section h2 {
    margin-bottom: 0rem;
    padding-bottom: 50px;
    font-family: sans-serif;
    font-size: 1.75rem;
    border-width: 0px;
    /* border-bottom-width: 1px; */
    border-bottom-color: rgba(0, 0, 0, .1);
    border-style: solid;
}

.btn.main__section__btn {
    position: absolute;
    top: 50px;
    left: 50px;
    width: auto;
    height: 30px;
    padding: 4px 8px;
    z-index: 100;
    background-color: #eeeeee;
    /* opacity: 0.9; */
    border-radius: 12px;
    border: 1px solid #2962ff;
    color: #2962ff;
    /* color: #000000; */
    font-size: 14px;
}

/* default margin-bottom is 1.25rem, take that off */
.main__section p {
    margin-bottom: 0rem;
}


.main__section-colours p {
    margin-top: 0rem;
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.main__section-colours h3 {
    margin-top: 4rem;
}


/* colour - color, background, border, hover */


/* font */


/* Components */

table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #5992ff;
}

thead td {
    background-color: #2962ff;
    background-color: #5992ff;
    /* text-align: center; */
}

thead td {
    font-weight: 600;
    color: #ffffff;
}

table td:nth-of-type(1) {
    width: 22%;
}

table td:nth-of-type(2) {
    width: 10%;
}

table td:nth-of-type(3) {
    width: 50%;
}

table td:nth-of-type(4) {
    width: 10%;
}

table td:nth-of-type(5) {
    width: 8%;
}

table tbody td:nth-of-type(2) {
    background: #00e676;
}

table tbody td:nth-of-type(4) {
    background: #00e676;
}

table.animation tbody td:nth-of-type(2),
table.components tbody td:nth-of-type(2) {
    background: #ffffff;
}

table tr td.special-case {
    background-color: #f57c00;
}

table tr td.a {
    background-color: #ffff00;
}

table.components td:nth-of-type(1) {
    width: 50%;
}

table.components td:nth-of-type(2) {
    width: 50%;
}

td,
th {
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px 8px;
}

pre {
    display: inline-block;
    color: #fff;
    font-size: 1rem;
    text-shadow: none;
    text-align: left;
    word-wrap: normal;
    word-spacing: normal;
    /* white-space: pre; */
    /* white-space: normal; */
    white-space: pre-wrap;
    word-break: normal;
    line-height: 1.5;
    overflow: auto;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    background-color: #333;
    border-radius: 3px;
}

code {
    color: #fff;
    font-family: "Operator Mono", Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-style: normal;
}


.btn {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
}


footer {
    background-color: #dd2c00;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    grid-area: footer;
}

footer a {
    color: white;
}

footer p {
    margin-top: 2rem;
}