/* Code - Different colours for elements, attributes and values */
/* angle brackets, {, :, ,, ;, quotes are white */
/* Element - ce */
.ce {
    color: #C92C2C;
}

/* Attributes */
.ca {
    color: #309D47;
}

/* Values */
.cv {
    color: #1990B8;
}